#icons > a {
    padding: 0 10px 0 10px;
    margin: 10px 0 0 0;
}

#icons-footer > a {
    padding: 0 10px 0 10px;
    margin: 10px 0 0 0;
    text-align: center;
}

.icon-row {
    height: 150px;
    width: 150px;
}